<!DOCTYPE html>
<html ng-app="App">
	<head>
		<title>Angular JS - Sort and Filter Example</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body>
		<div ng-controller="AppController">
			<div>
				Sort Order: 
				<select ng-model="sortOrder" ng-options="option for option in sortOrderOptions">
				</select>
			</div>
			<div>
				<a href="" ng-click="hideFilter('gender')" ng-show="currentFilters.gender">Remove Gender Filter</a>
				<a href="" ng-click="hideFilter('name')" ng-show="currentFilters.name">Remove Name Filter</a>
			</div>
			<div>
				<p>Filter by:</p>
				<div ng-repeat="item in genderFilter | orderBy: 'name'">
					<label>Gender</label>
					<input type="checkbox" ng-model="item.selected" />{{item.name}}
				</div>
				<div>
					<label>Name</label>
					<input type="text" ng-model="nameFilter" />
				</div>
			</div>
			<div ng-repeat="contact in contacts | orderBy: sortOrder | byGender:genderFilter:currentFilters | byName:nameFilter:currentFilters as filtered">
				<div>
					<p>Name: {{contact.name}}</p>
					<p>Age: {{contact.age}}</p>
					<p>Gender: {{contact.gender}}</p>
				</div>
			</div>
		</div>
	</body>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script src="app.js"></script>
</html>